/* BASE STYLES */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
  /* COLORS */
  /* Primary Colors */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  /* Neutral Colors */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  /* TYPOGRAPHY */
  --font-light: 400;
  --font-heavy: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: var(--font-light);
}

footer h4 {
  font-family: 'Karla', sans-serif;
  font-weight: var(--font-heavy);
}

button {
  background: transparent;
  border: 2px solid var(--very-light-gray);
  color: var(--very-light-gray);
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  margin: 1rem;
  padding: 0.7rem 1.8rem;
  text-transform: uppercase;
}

/* Mobile Layout */
.content,
footer {
  text-align: center;
  width: 86%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

nav .logo {
  height: 100%;
}

/* SECTION 1 */
.section-1,
.box {
  background-color: var(--dark-violet);
  color: var(--very-light-gray);
}

.section-1 img {
  display: block;
  width: 100%;
  height: auto;
}

.section-1 .content,
.section-2 {
  padding: 5.5rem 0;
}

.section-1 h1,
.section-2 h1 {
  font-size: 2.9rem;
}

.section-1 h1 {
  margin: 0.25rem 0;
  line-height: 1.05;
}

.section-1 p,
.section-2 p {
  line-height: 1.5rem;
}

.section-1 p {
  font-weight: var(--font-light);
}

.section-1 .bg-pattern {
  position: relative;
  z-index: 1;
}

.section-1 .bg-pattern::before {
  content: url('../images/bg-pattern-intro-left-mobile.svg');
  position: absolute;
  z-index: -1;
  top: -1px;
  left: 0;
}

.section-1 .content::after {
  content: url('../images/bg-pattern-intro-right-mobile.svg');
  position: absolute;
  width: auto;
  right: 0;
}

/* SECTION 2 */
.section-2 .content {
  padding-top: 2.8rem;
}

.section-2 .content::before {
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: hsl(250, 29%, 69%, 1);
}

.section-2 h1 {
  margin: 2rem 0;
}

.content-box {
  margin: 4rem 0;
}

.content-box h3 {
  font-size: 1.7rem;
}

.content-box p {
  color: var(--dark-grayish-violet);
}

/* BOX */
.box {
  padding: 3.7rem 2rem;
  margin-bottom: 8.75rem;
}

.box h1 {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

/* FOOTER */
footer {
  background-color: var(--very-light-gray);
  margin: 0;
  padding: 6rem 0;
  width: 100%;
}

footer h4 {
  color: var(--dark-grayish-violet);
  font-size: 0.8125rem;
  letter-spacing: 1px;
  margin: 2rem 0;
  text-transform: uppercase;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
  margin: 1rem 0;
}

footer ul li a {
  color: var(--very-dark-violet);
  font-size: 0.875rem;
  font-weight: var(--font-heavy);
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
