/* BASE STYLES */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
  /* COLORS */
  /* Primary Colors */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  /* Neutral Colors */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  /* TYPOGRAPHY */
  --font-light: 400;
  --font-heavy: 700;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
  font-weight: var(--font-light);
}

footer h4 {
  font-family: 'Karla', sans-serif;
  font-weight: var(--font-heavy);
}

/* Mobile Layout */
.content,
footer {
  text-align: center;
  width: 85%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

nav .logo {
  height: 100%;
}

/* SECTION 1 */
.section-1 {
  background-color: var(--dark-violet);
  color: var(--very-light-gray);
}

.section-1 img {
  width: 100%;
  height: auto;
}

.section-1 .content,
.section-2 {
  padding: 4.39rem 0;
}

.section-1 h1,
.section-2 h1 {
  font-size: 2.7rem;
}

.section-1 p,
.section-2 p {
  line-height: 1.5rem;
}

.section-1 p {
  font-weight: var(--font-light);
}

.section-1 button {
  background: transparent;
  border: 2px solid var(--very-light-gray);
  color: var(--very-light-gray);
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  margin: 1rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}

/* SECTION 2 */
.section-2 h3 {
  font-size: 1.7rem;
}

.section-2 p {
  color: var(--dark-grayish-violet);
}

/* BOX */
.box {
  padding: 4rem 2rem;
}

/* FOOTER */
footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
}
